{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Informacion usuario:</h1>
<p>
    <ul style="list-style: none;">
    <li>
        {% if request.user.extensionusuario.avatar %}
        <img height="80px" src={{request.user.extensionusuario.avatar.url}} alt="">
        {% else %}
        Imagen no cargada
        {% endif %}
    </li>
    </ul>
</p>
<p>
    <ul style="list-style: none;">
    <li>Nombre: {{request.user.first_name}}</li>
    <li>Apellido: {{request.user.last_name}}</li>
    <li>Email: {{request.user.email}}</li>
    </ul>
</p>
<p>
    <a href={% url 'EditarPerfil' %}>Editar datos</a>
</p>
<p>
    <a href={% url 'CambiarContrasenia' %}>Cambiar contraseña</a>
</p>
{% endblock %}