<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Listado de Familiares:</h1>
    </header>
    <main>
        {% for familiar in familiares %}
            <li>{{familiar.nombre}} {{familiar.apellido}} tiene {{familiar.edad}} años. → Fecha de creacion: {{familiar.fechaCreacion}}</li>
        {% endfor %}
    </main>
    <footer></footer>
</body>
</html>