{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h2>Busqueda de Familiares por Apellido</h2>

{% if miFormulario.errors %}

<p style="color: red;"> Estan mal los datos, revisar</p>

{% endif %}

<form action="/buscar/" method="GET">

    <input type="text" name="apellido" id="apellido">

    <input type="submit" value="Buscar">

</form>

{% if familiares %}

    <p>Estamos buscando: {{apellido}}</p>
    
    <ul>
    {% for familiar in familiares %}
        <li>{{familiar.nombre}} {{familiar.apellido}}</li>
    {% endfor %}

    </ul>

{% else %}
    <p>No hay datos con esa descripcion.</p>

{% endif %}

<p style="color: red;">{{respuesta}}</p>


{% endblock  %}

