{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <form action={% url 'CrearBlogFamiliar' %} method="POST">

        {% csrf_token %}
        <table>
            {{form.media}}
            {{form}}
        </table>
        <button>Crear Blog Familiar</button>
    </form>
    
{% comment %}     <form method="POST">

        {% csrf_token %}
        {{form.media}}
        {{ form.as_p }}

        <input type="submit" value="Enviar" />
    </form> {% endcomment %}
{% endblock  %}