{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <form action="" method="POST" enctype='multipart/form-data'>

        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_p}}
        </table>
{% comment %}         <button>Crear Blog Familiar</button> {% endcomment %}
        <input type="submit" value="Enviar" />
    </form>
    
{% comment %}     <form method="POST">

        {% csrf_token %}
        {{form.media}}
        {{ form.as_p }}

        <input type="submit" value="Enviar" />
    </form> {% endcomment %}
{% endblock  %}