{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

{% if blogfamiliar.imagen %}
<img height="200px" src={{blogfamiliar.imagen.url}} alt="">
{% else %}
Imagen no cargada
{% endif %}

<p>
    <li>Titulo: {{ blogfamiliar.titulo }}</li>
    <li>Subtitulo: {{ blogfamiliar.subtitulo }}</li>
    <li>Autor: {{ blogfamiliar.autor }}</li>
    <li>Fecha de Creación: {{ blogfamiliar.fechaCreacion }}</li>
    <li>Descripción: {{ blogfamiliar.descripcion | safe }}</li>
    <li><a href="{% url 'VerBlogFamiliar' %}">Regresar</a></li>
</p>

{% endblock  %}