{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Familiares - Python</h1>
        <ul>
            {% for familiar in object_list %}

                <li>
                    <p>NOMBRE: {{ familiar.nombre }} </p>
                    <p>
                        <a href="{% url 'DetalleFamiliar' familiar.id %}">Detalle</a>
                        <a href="{% url 'EditarFamiliar' familiar.id %}">Editar</a>
                        <a href="{% url 'BorrarFamiliar' familiar.id %}">Borrar</a>
                    </p>
                </li>
            {% endfor %}
        </ul>

{% endblock  %}