<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static 'appMVT/css/styles.css' %} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url "Inicio" %}">Inicio</a>
                <!-- Lista desplegable-->
                <div class="dropdown">        
                    <a class="navbar-brand" >Ver</a>
                    <div class="dropdown-content">
                        <a href="{% url 'VerFamiliar' %}">Familiar</a>
                        <a href="{% url 'VerBlogFamiliar' %}">Blog Familiar</a>
                    </div>
                </div>
                <!-- Lista desplegable-->
                <div class="dropdown">
                    <a class="navbar-brand" >Crear</a>
                    <div class="dropdown-content">
                        <a href="{% url 'CrearFamiliar' %}">Familiar</a>
                        <a href="{% url 'CrearBlogFamiliar' %}">Blog Familiar</a>
                    </div>
                </div>
                
                {% if not request.user.is_authenticated %}
                <a class="navbar-brand" href="{% url "Register" %}">¡Registrate!</a>
                <a class="btn btn-primary" href="{% url "Login" %}">INICIAR</a>
                {% endif %}

                {% if request.user.is_authenticated %}
                <a class="navbar-brand" href="{% url "chat-page" %}">Chat</a>
                <a class="navbar-brand" href="{% url "Perfil" %}">Perfil</a>
                <p class="text-muted small mb-4 mb-lg-0">Hola, {{user.username}}</p>
                <a class="btn btn-primary" href="{% url "Logout" %}">Salir</a>
                {% endif %}
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->

                            {% block contenidoQueCambia %}
                            {% endblock  %}

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"> <a class="navbar-brand" href="{% url "About" %}">Acerca de Nosotros</a></li>
                            <li class="list-inline-item"> <a class="navbar-brand" href="{% url "Video" %}">Video Explicativo</a></li>
                          
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Proyecto Final de Juan Carlos Diaz Guevara y Dario Rovetta</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto"></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>