{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h2>Ver Familiares</h2>
    <p></p>
    <form action={% url 'VerFamiliar' %} method="GET">
        {{formulario}}
        <button>Buscar</button>

    </form>
    
    {% if object_list %}

        <ul style="text-align: left;" >
            <p></p>
            {% for familiar in object_list %}

                <li>
                    <p>Nombre: {{ familiar.nombre }} ➝
                        <a href="{% url 'DetalleFamiliar' familiar.id %}">Detalle</a>
                        <a href="{% url 'EditarFamiliar' familiar.id %}">Editar</a>
                        <a href="{% url 'BorrarFamiliar' familiar.id %}">Borrar</a>
                    </p>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p style="color:red">No se encontraron resultados.</p>
    {% endif %}

{% endblock  %}