{% extends 'appMVT/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h2>Blog de Familiares</h2>
    <p></p>
    <form action={% url 'VerBlogFamiliar' %} method="GET">
        {{formulario}}
        <button>Buscar</button>
    </form>

    {% if object_list %}


        <ul style="text-align: left">
            <p></p>
            {% for blogfamiliar in object_list %}

                <li>
                    <p>Título: {{ blogfamiliar.titulo }} -->
                    
                        <a href="{% url 'EditarBlogFamiliar' blogfamiliar.id %}">Editar</a>
                        <a href="{% url 'DetalleBlogFamiliar' blogfamiliar.id %}">Detalle</a>
                        <a style="color:red" href="{% url 'EliminarBlogFamiliar' blogfamiliar.id %}">Borrar</a>
                    </p>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p style="color:red">No se encontraron resultados.</p>
    {% endif %}

{% endblock  %}