<!DOCTYPE html>
<html>
<body style="background-color: #B9FCAC;">
	<center><h1>Hola {{request.user}}.  Bienvenido los ¡10 puntos!</h1></center>
	<br>
	{% if request.user.is_authenticated %}
	<center><a href = "{% url 'Inicio' %}">Cerrar Chat</a></center>
	{% endif %}
	<div
	class="chat__item__container"
	id="id_chat_item_container"
	style="font-size: 20px"
	>
	<br />
	<input type="text" id="id_message_send_input" />
	<button type="submit" id="id_message_send_button">Enviar Mensaje</button>
	<br />
	<br />
	</div>
	<script>
	const appChatsSocket = new WebSocket("ws://" + window.location.host + "/");
	appChatsSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
	};
	appChatsSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	document.querySelector("#id_message_send_input").focus();
	document.querySelector("#id_message_send_input").onkeyup = function (e) {
		if (e.keyCode == 13) {
		document.querySelector("#id_message_send_button").click();
		}
	};
	document.querySelector("#id_message_send_button").onclick = function (e) {
		var messageInput = document.querySelector(
		"#id_message_send_input"
		).value;
		appChatsSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	};
	appChatsSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		var div = document.createElement("div");
		div.innerHTML = data.username + " : " + data.message;
		document.querySelector("#id_message_send_input").value = "";
		document.querySelector("#id_chat_item_container").appendChild(div);
	};
	</script>
</body>
</html>
